[run]
source =
    invoicing_app

omit =
    invoicing_app/migrations/*
    invoicing_app/apps.py
    invoicing_app/views.py
    invoicing_app/admin.py
    invoicing_app/models.py
    invoicing_app/management/commands/generate_tax_receipts_old.py
    invoicing_app/management/commands/create_dummy_data.py
    invoicing_app/management/commands/generate_tax_receipts.py
    invoicing_app/tests/factories/tax_receipts.py
    invoicing_app/slack_module.py
    invoicing/*
    manage.py

[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    print
    if __name__ == '__main__':
    def suite
    if not self.dry_run:
    def enable_logging
    def call_service
    def _log_exception
    def _log_hosts_being_used
    def _log_due_to_missing_to_info
    if options['logging']:
    today = dt.today()
    def localize_date
    except Exception
    if not EB_TAX_INFO
    def _send_slack_notification_message
    self._send_slack_notification_message
    class TaxReceiptStatuses
    if self.verbose
